<%= form_with(model: beer_club, local: true) do |form| %>
  <% if beer_club.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(beer_club.errors.count, "error") %> prohibited this beer_club from being saved:</h2>

      <ul>
      <% beer_club.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">
      <%= form.label :name %>
    </label>
    <div class="col-auto">
      <%= form.text_field :name %>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">
      <%= form.label :founded %>
    </label>
    <div class="col-auto">
      <%= form.number_field :founded %>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">
      <%= form.label :city %>
    </label>
    <div class="col-auto">
      <%= form.text_field :city %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit class:"btn btn-primary"%>
  </div>
<% end %>
