<h2>Ratings</h2>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <%= render 'list', listItems: @top_beers, title: "Best beers"%>
    </div>
    <div class="col-sm">
      <%= render 'list', listItems: @top_breweries, title: "Best breweries"%>
    </div>
    <div class="col-sm">
      <%= render 'list', listItems: @top_styles, title: "Best styles"%>
    </div>
  </div>
</div>

<h4>Most active users</h4>

<table class="table table-hover">
  <thead>
  <tr>
    <th></th>
    <th>ratings</th>
  </tr>
  </thead>

  <tbody>
  <% @top_users.each do |user| %>
      <tr>
        <td><%= link_to user.username, user %></td>
        <td><%= user.ratings.count %></td>
      </tr>
  <% end %>
  </tbody>
</table>




<h4>Recent ratings</h4>
<ul class="list-group list-group-flush">
  <% @recent_ratings.each do |rating| %>
    <li class="list-group-item"> <%= rating %> by <%= link_to rating.user.username, user_path(rating.user)%> at <%= rating.created_at %> </li>
  <% end %>
</ul>

<br/>

<%if current_user%>
  <%= link_to('New Rating', new_rating_path, class:"btn btn-primary") %>
<%end%>